{% extends 'base.html' %}

{% block content %}
<div class="about4">
<h2 id="about1"> The University Mission</h2>
<p id="about2"> 
    The objective of Isfahan University of Technology, as an institution of higher education, is to contribute to the education of the youth of the Islamic Republic of Iran, in particular, the world in general, and in advancement of knowledge. With the long term plans of the government of the Islamic Republic of Iran towards a wider span of higher education, IUT has taken eminent steps in establishing M.Sc. and Ph.D. degrees in all fields of engineering, science and agriculture as means of attaining scientific self-sufficiency.
    
    Isfahan University of Technology seeks excellence in all programs and activities. This challenge for high achievements creates a dynamic atmosphere.
    
    IUT is dedicated to provide equal educational opportunities to all qualified applicants. The established national and international reputation of IUT is based upon the quality and distinctiveness of the research and scholarly activity of its faculties and students. IUT has established the International Campus in order to increase the number of international students and faculties as well as developing the e-Learning methods and programs and encourage the foreign academic members to cooperate through the E-learning environment.
    </p>
</div>
{% endblock content %}