{% extends 'base.html' %}

{% block content %}
<div id="contact4">
    <p><a href="https://goo.gl/maps/GcLx75ohfaFxoTob7">Google Map</a></p>
    <p>✆&nbsp;<a href="tel:+98 -(0) 31 3391 2511">+98 31 3391 2511</a></p>
    <p>✆&nbsp;<a href="tel:+98 -(0) 31 3391 2505">+98 31 3391 2505-6</a></p>
    <p>✉&nbsp;<a href="mailto:info@english.iut.ac.ir">international@iut.ac.ir</a></p>
    <p><a href="https://www.instagram.com/iut_international/?hl=en">iut_international</a></p>
</div>
{% endblock content %}