{% extends 'base.html' %}
{% block user %} {{ current_user.username }} {% endblock user %}

{% block content %}
    {% for post in posts %}
        <div id = 'post'>
            <h2><a href=" {{url_for('detail' , post_id = post.id)}}">{{ post.title }}</a></h2>
            <p>{{ (post.content[:680] + '  ......  ')}} <a href="{{url_for('detail' , post_id = post.id)}}" class="more">MORE</a></p>
        </div>
    {% endfor %}
    {% if posts.has_prev %}<a href="{{ url_for('home', page=posts.prev_num) }}">&lt;&lt; Newer posts</a>
    {% else %}&lt;&lt; Newer posts{% endif %} | 
    {% if posts.has_next %}<a href="{{ url_for('home', page=posts.next_num) }}">Older posts &gt;&gt;</a>
    {% else %}Older posts &gt;&gt;{% endif %}
{% endblock content %}