<div id="nav" class="box">
    <ul>
      <li id="active"><a href="{{ url_for('home') }}">Home</a></li>
      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('profile') }}">Porfile</a></li>
      <li><a href="{{ url_for('logout') }}" >Logout</a></li>
      {% else %}
      <li><a href="{{ url_for('register') }}">Register</a></li>
      <li><a href="{{ url_for('login') }}">Login</a></li>
      {% endif %}
      <li><a href="{{ url_for('home') }}"> About site</a></li>
      <li><a href="{{ url_for('home') }}"> Contact us </a> </li>
    </ul>
    <hr class="noscreen" />
</div>